@mixin font($var1,$var2,$var3,$var4){
    font-weight: $var1;
    font-style: $var2;
    font-size: $var3;
    color: $var4;
}

.sec6-main {
    background-color: var(--second-color);
    height: 500px;

    .sec6-cards {
        display: flex;
        justify-content: center;
        padding-top: 111px;
        gap: 102px;

        .sec6-card {
            text-align: center;

            img {
                mix-blend-mode: darken;
            }

            h4 {
                font-family: "Inter", sans-serif;
                @include font(700,bold,36px,var(--text-main-color));
                // font-weight: 700;
                // font-style: bold;
                // font-size: 36px;
                line-height: 160%;
                vertical-align: middle;
                // color: var(--text-main-color);
            }

            h6 {
                font-family: "Inter", sans-serif;
                @include font(700,bold,24px,var(--main-color));
                font-weight: 700;
                font-style: bold;
                font-size: 24px;
                // line-height: 160%;
                // vertical-align: middle;
                color: var(--main-color);
            }
        }
    }
}

// Планшет

@media(min-width:601px) and (max-width:1199px) {}

// Телефон

@media(max-width:600px) {
    .sec6-main{
        height: 1500px;
        .sec6-cards{
            flex-direction: column;
            align-items: center;
            justify-content: baseline;
            padding-top: 50px;
            gap: 50px;
        }
    }
}