@mixin font($var1,$var2,$var3,$var4){
    font-weight: $var1;
    font-style: $var2;
    font-size: $var3;
    color: $var4;
}

.sec2-main {
    .sec2-wrap {
        padding-left: 90px;
        display: flex;
        height: 585px;
        gap: 20px;

        .sec2-card {
            margin-top: 120px;

            h3 {
                margin-top: 25px;
                font-family: "Inter", sans-serif;
                @include font(700,bold,24px,var(--text-second-color));
                // font-weight: 700;
                // font-style: bold;
                // font-size: 24px;
                // color: var(--text-second-color);
                line-height: 160%;
                text-align: center;
            }
        }
    }
}

// Планшет

@media(min-width:601px) and (max-width:1199px) {}

// Телефон

@media(max-width:600px) {
    .sec2-main {
        height: 1190px;

        .sec2-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            .sec2-card{
                margin-top: 70px;
                img{
                    width: 300px;
                }
                h3{
                    font-size: 20px;
                }
            }
        }
    }
}