@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import './header', './sec1', './sec2', './sec3', './sec4', './sec5', './sec6', './sec7', './footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-main-color: #60A2B8;
    --text-second-color: #404040;
    --main-color: #F5F5F5;
    --second-color: #195360;
    --text-triple-color: #121212;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

// Планшет

@media(min-width:601px) and (max-width:1199px) {}

// Телефон

@media(max-width:600px) {
    .container{
        max-width: 600px;
    }
}